<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/style.css" />
    <title>Observaciones</title>
  </head>
  <body>
    <nav>
      <div class="pag-principal">
        <h3>Página Principal</h3>
      </div>
      <div class="opciones">
        <div>
          <h3>Usuarios</h3>
        </div>
        <div>
          <h3>Vehiculos</h3>
        </div>
        <div>
          <h3>Observaciones</h3>
        </div>
      </div>
      <div class="div-btn-cerrarsesion">
        <button class="btn-cerrarsesion">Cerrar Sesión</button>
      </div>
    </nav>

    <main class="reportes">
      <div class="contenedor">
        <div class="cuadro">
          <div>
            <h3 class="titulo-diagrama">Observaciones registradas</h3>
          </div>
          <div class="diagrama">
            <div>//Aqui va la tabla</div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
